<%= stylesheet_link_tag 'devise', :media => "all" %>
<%if flash[:notice]%>
  <div class="title">
    <h1>新規登録</h1>
  </div>
<%else%>
  <div class="title_no_flash">
    <h1>新規登録</h1>
  </div>
<%end%>

<div class="container_oya">
  <div class="container_new">
    <div class="login_outside_new">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <!--エラーメッセージ表示箇所 start-->
          <!--%= render "devise/shared/error_messages", resource: resource %-->
        <!--エラーメッセージ表示箇所 end-->
        <!-- メールアドレス入力 -->
        <div class="field">
          <div class="email_label">
            <%= f.label :email %><br />
          </div>
          <div class="email_input_outside">
            <div class="email_input_inner">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>
        <!-- ユーザー名入力 -->
        <div class="field">
          <div class="user_name_label">
            <%= f.label :ユーザー名 %><br />
          </div>
          <div class="user_name_input_outside">
            <div class="user_name_input_inner">
              <%= f.text_field :username, class: "form-control" %>
            </div>
          </div>
        </div>
        <!-- パスワード入力 -->
        <div class="field">
          <div class="password_label">
            <%= "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 桁以上)</em>
            <% end %><br />
          </div>
          <div class="password_input_outside">
            <div class="password_input_inner">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
        </div>
        <!-- パスワード確認用入力 -->
        <div class="field">
          <div class="password_label">
            <%= f.label :password_confirmation %><br />
          </div>
          <div class="password_input_outside">
            <div class="password_input_inner">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
        </div>
        <!-- 登録ボタン -->
        <div class="actions">
          <%= f.submit "登録" , class:'login_button'%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
