<%= stylesheet_link_tag 'devise', :media => "all" %>
<h1 class="title">ログインパスワード再発行</h1>

<div class="container_oya">
  <div class="container">
    <div class="login_outside">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="email_label">
            <%= f.label :email %><br />
          </div>
          <div class="email_input_outside">
            <div class="email_input_inner">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "パスワード再発行" , class:'login_button'%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
