<%= stylesheet_link_tag 'posts', :media => "all" %>
<%if flash[:notice]%>
  <h1 class="h1_title">投稿内容編集中・・・</h1>
<%else%>
  <h1 class="h1_title_no_flash">投稿内容編集中・・・</h1>
<%end%>

<div class="container_oya">
  <div class="container">
    <div class="edit_outside">
      <%=form_tag("/posts/#{@post.id}/update")do%>
        <div class="edit_practice_date">
          練習日（入力形式：yyyy-mm-dd）<br>
          <textarea name="date" class="date_textarea"><%= @post.practice_date%></textarea>
        </div>
        <div class="edit_practice_name">
          タイトル<br>
          <textarea name="title" class="title_textarea"><%= @post.practice_name%></textarea>
        </div>
        <div class="edit_practice_content">
          練習内容<br>
          <textarea name="content" class="content_textarea"><%= @post.practice_content%></textarea>
        </div>
        <div class="edit_button_group">
          <input class="update_button" type="submit" value="更新">
        </div>
      <%end%>
    </div>
  </div>
</div>
