<%= stylesheet_link_tag 'posts', :media => "all" %>
<%if flash[:notice]%>
  <h1 class="h1_title">投稿内容編集中・・・</h1>
<%else%>
  <h1 class="h1_title_no_flash">投稿内容編集中・・・</h1>
<%end%>

<div class="container_oya">
  <div class="container">
    <div class="edit_outside">
      <%=form_tag("/posts/#{@post.id}/update")do%>
        <div class="edit_practice_date">
          練習日<br>
          <%=date_field_tag("date", "p_date",value: @post.practice_date)%>
        </div>
        <div class="edit_practice_name">
          タイトル<br>
          <%= text_field_tag :title, @post.practice_name, :class => 'title_textarea' %>
        </div>
        <div class="edit_practice_content">
          練習内容<br>
          <textarea name="content" class="content_textarea"><%= @post.practice_content%></textarea>
        </div>
        <div class="edit_button_group">
          <input class="update_button" type="submit" value="更新">
        </div>
      <%end%>
    </div>
  </div>
</div>
