<%= stylesheet_link_tag 'posts', :media => "all" %>
<%if flash[:notice]%>
  <div class="h1_title">
    <h1>練習詳細ページ</h1>
  </div>
<%else%>
  <div class="h1_title_no_flash">
    <h1>練習詳細ページ</h1>
  </div>
<%end%>
<div class="container_oya">
  <div class="container">
    <div class="show_outside">
      <div class="show_practice_date">
        練習日<br>
        <%= @post.practice_date%>
      </div>
      <div class="show_practice_name">
        タイトル<br>
        <%= @post.practice_name%>
      </div>
      <div class="show_timestamp">
        投稿日時<br>
        <%= @post.updated_at.strftime("%Y-%m-%d %H:%M")%>
      </div>
      <div class="show_practice_content">
        練習内容<br>
        <%= @post.practice_content%>
      </div>
      <div class="show_button_group">
        <div class="show_button_return">
          <%=link_to("戻る","/posts/index", :style=>"color:#FFFFFF; text-decoration:none; vertical-align: middle;")%>
        </div>
        <%if @post.user_id == current_user.id%>
          <div class="show_button_edit">
            <%=link_to("編集","/posts/#{@post.id}/edit", :style=>"color:#FFFFFF; text-decoration:none; vertical-align: middle;")%>
          </div>
          <div class="show_button_delete">
            <%=link_to("削除","/posts/#{@post.id}/destroy",{method:"post", :style=>"color:#FFFFFF; text-decoration:none; vertical-align:middle;"})%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
