<h1>Posts#show</h1>

<%= @post.practice_date%>
<%= @post.practice_name%>
<%= @post.practice_content%>
<%=link_to("戻る","/posts/index")%>
<%=link_to("編集","/posts/#{@post.id}/edit")%>
<%=link_to("削除","/posts/#{@post.id}/destroy",{method:"post"})%>
