<!DOCTYPE html>
<html>
  <head>
    <title>SalogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header_line">
      <ul class="ul_nav">
        <div class="list_group">
          <div class="site_title">
            <%= "FutsaLog"%>
          </div>
          <li class="list_nav">
            <%=link_to("ログイン","/users/sign_in", :style=>"color:#707070;")%>
          </li>
          <li class="list_nav">
            <%=link_to("練習投稿一覧","/posts/index", :style=>"color:#707070;")%>
          </li>
          <li class="list_nav">
            <%=link_to("練習記録する","/posts/new", :style=>"color:#707070;")%>
          </li>
          <li class="list_nav">
            <%=link_to("ログアウト","/users/sign_out", :style=>"color:#707070;")%>
          </li>
          <% if user_signed_in? %>
          <div class="user_name">
            <li class="list_nav">
              <%= "ユーザー名：#{@user.username}"%>
            </li>
          </div>
          <%end%>

        </div>
      </ul>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer class="footer_deco">
    <%="©️salog 201903"%>
  </footer>
</html>
